@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Acme", sans-serif;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    color: #fff;
    padding: 0 20px;
}

.quote p {
    font-size: 70px;
    line-height: 90px;
    margin-bottom: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    font-style: normal;
}

.highlight {
    color: #d24dff;
    font-weight: bold;
}

@media (max-width: 768px) {
    .quote p {
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: 480px) {
    .quote p {
        font-size: 16px;
        line-height: 24px;
    }
}